!!!
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include topbar
    div.container
      != body
            
    div#footer.footer 
      script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
      script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')