!!!
html
  head
    script
      var _kmq = _kmq || [];
      var _kmk = _kmk || 'db573d6780caf3dc1c2cd2fdd82cb2420124dcc0';
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');

    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/tables.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')

  body
    include topbar
    div.container
      != body
    
    div#footer.footer 
      script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
      script(type='text/javascript', src='/javascripts/socket.io.js')
      script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
      script(type='text/javascript', src='/javascripts/jquery.sparkline.min.js')
      script(type='text/javascript', src='/javascripts/jquery.tablesorter.min.js')

      script(type='text/javascript', src='/javascripts/scripts.js')
      
      script(src="http://codeforamerica.github.com/cfa_banner/banner.js?type=corner-right&forkUrl=https://github.com/codeforamerica/open311status", id="cfa_banner_script")
      
      script
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
        ga('create', 'UA-57586200-1', 'auto');
        ga('send', 'pageview');
