div.modal-header
  button.close(data-dismiss="modal") ×
  h2 #{endpoint} service request types

div.modal-body
  table.table.table-bordered.table-striped
    thead
      tr
        th Service Name
        th Description
    tbody
      - each service in services
        tr
          td= service.service_name
          td= service.description
