.page-footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  color: #777777;
  margin-top: 30px;
  padding: 30px 0;

  h1 {
    font-size: 18px;
  }

  a {
    font-weight: bold;
  }
}
