// http://bootsnipp.com/snippets/PAqmx

.panel.with-nav-tabs {
  .panel-heading {
    padding: 5px 5px 0 5px;
  }

  .panel-heading .panel-title {
    padding: 10px;
  }

  .nav-tabs {
    border-bottom: none;
  }

  .nav-justified {
    margin-bottom: -1px;
  }

  .nav-tabs > li.active > a {
    background-color: white;
  }
}
