table.table.table-bordered.table-striped
  thead
    tr
      th Service Name
      th Description
  tbody
    - service_definitions.find_each do |service_definition|
      tr
        td= service_definition.raw_data['service_name']
        td= service_definition.raw_data['description']
