<h1>Listing cities</h1>

<table>
  <thead>
    <tr>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.slug %></td>
      </tr>
    <% end %>
  </tbody>
</table>
