@import 'modules/variables';

/* Vendors */
@import 'bootstrap';
@import 'font-awesome';

// Partials
@import 'partials/footer';
@import 'partials/tablesorter';


.card-table {
  overflow: hidden;
  > .table {
    margin-bottom: 0;

    th:first-child, td:first-child {
      border-left: none;
    }

    th:last-child, td:last-child {
      border-right: none;
    }

    tr:first-child, tr:first-child,
    tr:first-child th, tr:first-child td {
      border-top: none;
    }

    tr:last-child, tr:last-child,
      tr:last-child th, tr:last-child td {
      border-bottom: none;
    }
  }
}
