name: Test
on: [push]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: "Ruby: Install Ruby"
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: .node-version
          cache: yarn
      - name: "Javascript: Install packages"
        run: yarn install --pure-lockfile
      - name: Run Linters
        run: bin/lint --nofix

  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      PGHOST: localhost
      PGUSER: open311status
      RAILS_ENV: test
    services:
      postgres:
        image: postgis/postgis:10-2.5
        env:
          POSTGRES_DB: open311status_test
          POSTGRES_USER: open311status
          POSTGRES_PASSWORD: ""
          POSTGRES_HOST_AUTH_METHOD: trust
        ports: ["5432:5432"]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: "Ruby: Install Ruby"
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: .node-version
          cache: yarn
      - name: "Javascript: Install packages"
        run: yarn install --pure-lockfile
      - name: Setup test database
        run: bin/rails db:test:prepare
      - name: Compile assets
        run: bin/rails assets:precompile
      - name: Run tests
        run: RAILS_ENV=test bin/rspec
      - name: Archive system spec screenshots
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: screenshots
          path: tmp/screenshots/
