.container
  .row
    .col-md-6
      p <strong>Open311 Status</strong> monitors and aggregates the status of dozens of Open311 API endpoints, providing benchmarks and comparative insights.
    .col-md-6
      ul
        li
          | Learn more about the <strong>Open311 API</strong> at
          =< link_to 'http://www.open311.org/', rel: "noopener" do
            => fa_icon 'bullhorn'
            | Open311.org
        li
          | Help us <strong>improve the code</strong> at
          =< link_to github_url, rel: "noopener" do
            => fa_icon 'github-alt'
            | Github
        li
          | Send us an <strong>email</strong> at
          =< link_to 'mailto:bensheldon@gmail.com' do
            => fa_icon 'paper-plane'
            | bensheldon@gmail.com
